.active {
    background-color: rgb(9, 9, 182);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #06355d;
    position: sticky;
    height: 13vh;
    top: 0;
}

nav ul {
    display: inline-flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color: rgb(53, 4, 99);
}


/* Navbar.css */


/* .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


/* .navbar-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
} */


/* .navbar-list>li {
    margin: 0 10px;
    white-space: nowrap;
    /* Prevent line breaks within list items 
} */

.greeting {
    position: relative;
    left: 15rem;
    white-space: nowrap;
    margin-top: 0.5rem;
    color: white;
    /* Ensure the greeting does not break into multiple lines  */
}

.top {
    top: 0.5rem;
    position: relative;
}


/* 
.font {
    font-size: 5rem;
} */