.formContainer {
    margin-top: 2rem;
    border: 1px solid #c9c5c2;
    margin-left: 14rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    /* border-radius: 0.5rem; */
    background-color: whitesmoke;
    width: 50rem;
    height: 70vh;
}

.formContainer #FORMS .inputS {
    width: 10rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
    width: 42.3rem;
    height: 6vh;
    border-radius: 0.5rem;
    border: 1px solid rgb(47, 46, 46);
}

.Icons {
    margin-left: 41.8rem;
    margin-top: -1.6rem;
    font-size: large;
    color: #999999;
}

.firsts {
    border-radius: 0.5rem;
    border: 1px solid rgb(47, 46, 46);
}

.Ficons {
    margin-left: 20rem;
    margin-top: -1.8rem;
    font-size: large;
    color: #999999;
}

.Ficons2 {
    margin-left: 42rem;
    margin-top: -1rem;
    font-size: large;
    color: #999999;
}